


## TOTAL STATISTICS

**Total Requirements: {{data.total_requirements}}**

| Implemented and Verified | Implemented | Not Implemented |
|---|---|---|
| {{data.completed_requirements}} | {{data.with_implementation - data.completed_requirements}} | {{data.total_requirements - data.with_implementation}} |

**Total Tests / SVCs: ( {{data.total_tests}} / {{data.total_svcs}} )**

| Passed tests | Failed tests | Skipped tests | SVC's missing tests | SVCs missing MVRs |
|---|---|---|---|---|
| {{data.passed_tests}} | {{data.failed_tests}} | {{data.skipped_tests}} | {{data.missing_automated_tests}} | {{data.missing_manual_tests}} |

