
{% set code_reqs = data.total_requirements - data.non_code_total %}
{% set code_completed = data.completed_requirements - data.non_code_completed %}


## TOTAL STATISTICS

**In Code Requirements: {{code_reqs}}**

| Verified | Annotated, not verified | Missing annotation |
|---|---|---|
| {{code_completed}} | {{data.with_implementation - code_completed}} | {{code_reqs - data.with_implementation}} |

**Non-code Requirements: {{data.non_code_total}}**

| Type | Total | Verified | Not Verified |
|---|---|---|---|
| N/A | {{data.without_implementation_total}} | {{data.without_implementation_completed}} | {{data.without_implementation_total - data.without_implementation_completed}} |
| Configuration | {{data.configuration_total}} | {{data.configuration_completed}} | {{data.configuration_total - data.configuration_completed}} |
| Platform | {{data.platform_total}} | {{data.platform_completed}} | {{data.platform_total - data.platform_completed}} |
| Framework | {{data.framework_total}} | {{data.framework_completed}} | {{data.framework_total - data.framework_completed}} |

**Total Tests / SVCs: ( {{data.total_tests}} / {{data.total_svcs}} )**

| Passed tests | Failed tests | Skipped tests | SVC's missing tests | SVCs missing MVRs |
|---|---|---|---|---|
| {{data.passed_tests}} | {{data.failed_tests}} | {{data.skipped_tests}} | {{data.missing_automated_tests}} | {{data.missing_manual_tests}} |

